.communication-container{
    background-color: rgba(114, 114, 114, 0.205);
    width: 75%;
    border-radius: 20px;
}
.communication-container h3{
    color: white;
    padding: 1rem;
    font-size: 20px;
}
.translate-up{
    margin-top: 50px;
    margin-bottom: -25px;
    height: 375px;
    z-index: -2000;
    transform: translateY(-30px);
}
.traslate-down{
    transform: translateY(30px);
}