.twitter-picture-container{
    position: relative;
    width: 47.5vw;
    height: 100vh;
}

.twitter-picture{
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -1;
    object-fit: cover;
    transform: scale(1.1)
}
.twitter-logo{

    position: absolute;
    z-index: 50;
    width: 25vw;
    transform: translate(-50%,-50%);
    top:51vh;
    left: 22vw;
   
 
}