.auth-modal{
    position:absolute;
    max-width: 95vw;
    width: 600px;
    height: 87vh;
    z-index:100;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    background-color: black;
    border-radius: 20px;
    clip: rect(0px, 600px, 87vh, 0px);

}

.auth-modal h1{
    margin-top: 0;
    color:white;
    
}
